<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <div id="wrapper">

        <h1>Submitted Info</h1>
        <h3 id="your_name">Your Name: {{request.session.name}}</h3>
        <h3>Dojo Location: {{request.session.dojo}}</h3>
        <h3>Comment: {{request.session.comment}}</h3>
        
        <form action="/" method="GET">
            <input type="submit" value="Go Back" class="submit">
        </form>
    </div>
</body>
</html>